<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="8">

        <ion-card>
          <ion-card-header>
            <ion-card-title>Add Entry</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col></ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-footer>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="addEntry()">
                  <ion-icon slot="start" name="add"></ion-icon>
                  Add entry
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card>

      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
